{% for id in (0..6) %}
{% if id == 0 %}
<section data-markdown data-transition="slide-in none"><script type="text/template">
{% else %}
<section data-markdown data-transition="none"><script type="text/template">
{% endif %}
  # Chave Assimétrica
  <img class="plain" width=90% src="{{ "/images/crypt/asymmetric/encrypt" | prepend: site.baseurl }}{{id}}.png">
</script></section>
{% endfor %}
{% for id in (0..6) %}
{% if id == 0 %}
<section data-markdown data-transition="slide-in none"><script type="text/template">
{% else %}
<section data-markdown data-transition="none"><script type="text/template">
{% endif %}
  # Chave Assimétrica
  <img class="plain" width=90% src="{{ "/images/crypt/asymmetric/sign" | prepend: site.baseurl }}{{id}}.png">
</script></section>
{% endfor %}
