{% comment %}

	Multiverse by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Talk

	Example:

		---
		talks:
		- url: /slides/pybr14
		  thumb: /images/thumbs/01.jpg
		  title: Magna feugiat lorem
		- url: /slides/pybr13
		  thumb: /images/thumbs/02.jpg
		  title: Nisl adipiscing
		- url: /slides/pybr12
		  thumb: /images/thumbs/03.jpg
		  title: Tempus aliquam veroeros
		---

		{% for talk in page.talks %}
			{% include components/talk.html talk=talk %}
		{% endfor %}

{% endcomment %}

{% assign talk = include.talk %}

<article class="thumb">
	<a href="{{ site.baseurl }}{{ talk.full }}" class="image">
		<img src="{{ site.baseurl }}{{ talk.thumb }}" alt="" />
	</a>

	<h2>{{ talk.event }}<br />{{ talk.title }}</h2>

	{% if talk.url %}
	<a class="special button" href="{{ talk.url | prepend: site.baseurl }}" target="_blank">
		slides
	</a>
	{% endif %}

	{% for link in talk.external_links %}
		<a class="special button" href="{{ link[1] }}" target="_blank">
			{{ link[0] }}
		</a>
	{% endfor %}
</article>
