{% comment %}

	Multiverse by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Default layout

	Description:

		Basic HTML foundation for all pages.

	Example:

		---
		layout: default
		---

{% endcomment %}

<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>{{ site.title }}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				{% include layout/header.html %}

				{{ content }}

				<!-- Panels -->
					{% for panel in site.data.panels %}
						{% include components/panel.html panel=panel %}
					{% endfor %}

				{% include layout/footer.html %}

			</div>

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.poptrox.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>