---
layout: slide
---
{% for slide in page.slides %}
  <section
    data-transition="{{ slide.transition | default: 'none' }}"
    data-background="{{ slide.background_color | default: site.background_color }}"

    {% if slide.background_image %}
      data-background-image="{{ slide.background_image | prepend: '/images/' | prepend: site.baseurl }}"
    {% endif %}
  >
    {{ slide.title }}

    {% if slide.image %}
      <div>
        {% include slides/components/image.html
        src=slide.image.src
        width=slide.image.width %}
      </div>
    {% endif %}

    {{ slide.body }}

    {% if slide.contact %}
      {% include slides/components/contact.html
        qr_code_color=slide.contact.qr_code_color %}
    {% endif %}
    {% if slide.contato %}
      {% include slides/components/contato.html
        qr_code_color=slide.contato.qr_code_color %}
    {% endif %}

    <aside class="notes">
      {{ slide.notes }}
    </aside>
  </section>
{% endfor %}
